a {
    text-decoration: none;
}
.nav-link {
    color: #f3a712;
}

.active {
    text-decoration: underline;
    font-weight: bold;
    color: #F07912;
}
/* .nav {
    border: dashed;
    border-color: #f3a712;
} */

.tandem {
    width: 200px;
}

.cc-icon {
    margin: 5px;
    margin-top: 0px;
}

.hidden {
    flex-direction: row;
    align-items: center;
    display: none;
}

.tandem:hover ~ .hidden {
    display: flex;
}

.hidden:hover {
    display: flex;
}

@media screen and (max-width: 900px){
    .forget-about-it {
    display: none;
    }
    
}