a {
    text-decoration: none;
}
.nav-link {
    color: #f3a712;
}

.active {
    text-decoration: underline;
    font-weight: bold;
    color: #F07912;
}
/* .nav {
    border: dashed;
    border-color: #f3a712;
} */

@media screen and (max-width: 750px){
    .forget-about-it {
    display: none;
    }
    
}