.App {
  color: whitesmoke;
  background-color:hsl(0, 0%, 100%);
  min-height: 100vh;
}

.secondary-color {
  color: #000000;
}

.nav-link {
  color: #000000;
}

.active {
  text-decoration: underline;
  font-weight: 300;
}