.App {
  color: whitesmoke;
  background-color:#ff0000;
  min-height: 100vh;
}

.secondary-color {
  color: #f3a712;
}

.nav-link {
  color: "#f3a712";
}

.active {
  text-decoration: underline;
  font-weight: 300;
}